{% extends "layout.html" %}
{% block content %}
  <p>
    This webpage provides a tool for
    identifying sentiments across texts as "Likely Depressed" or otherwise.
    This tool was developed as a part of my research project on sentiment
    analysis. It is based on multiple Machine Learning models trained on
    separate datasets with over 1.6 million tweets and loads of feature
    engineering.
    <br />
    The instructions are simple, just enter the tweet in the input box below
    and hit predict. Don't bother removing emojis or URLs, or cleaning the
    text at all. The model handles that pretty well!
  </p>

  <div class="card">
    <div class="search">
      <form autocomplete="off" action="{{ url_for('predict')}}" method="post">
        <input
          required
          type="text"
          name="tweet"
          class="search-bar"
          placeholder="Enter a tweet"
        />
        <button type="submit" class="button">Predict</button>
      </form>
    </div>
    <div class="output">
      <p>
        <b>Result: </b>{{result}}
        <br />
        <b>Probability: </b>{{probability}}
      </p>
      <span>
        v.25 &copy; Design and Development by
        <a href="https://achintyajha.com/" target="_blank">Achintya Jha</a>
      </span>
    </div>
  </div>

  <div class="info">
    <p style="color: rgb(250, 92, 92);"><strong>Note: </strong> It might take some time to view the results 
  initially, especially if the website has been idle for too long. 
  However, subsequent predictions will be much faster.</p>

  <p>Learn more about the model <a href="/about">here.</a></p>
  </div>  
{% endblock content %}
