---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: var(--color-bg);
  font: 18px/1.4;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-secondary);
  font-weight: bold;

  line-height: 1.7;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
  line-height: 1.625em;
}

li {
  line-height: 1.625em;
}

blockquote {
  margin: 1.8em 0.8em;
  border-left: 5px solid #efefef;
  padding: 0.1em 1em;
  color: var(--color-tertiary);
  font-size: 22px;
  font-style: italic;
}

hr {
  margin: 2em 0;
  height: 0;
  border-style: none;
  border-top: 2px dashed var(--color-tertiary);
}

em {
  display: block;
  margin: 25px 0;
}
a {
  text-underline-offset: 2px;
  cursor: pointer;
  padding: 0 3px;
  border-radius: 3px;
  color: var(--color-text-secondary);
  text-decoration: none;
  background-color: var(--color-highlight);
}

a:hover, a:active {
    text-decoration: underline;
    transition-duration: 0.5s;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: var(--color-accent);
  }

p > a{
  color: var(--color-accent);
}

ul,
ol {
  margin: 10px 0;
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
  align-content: center;
}

.image-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 200px;
}

.image-container + em {
  display: block;
  text-align: center;
  margin: 20px;
  color: var(--color-tertiary);
}

img + em {
  display: block;
  text-align: center;
  margin: 20px;
  color: $gray;
}

.entry img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 35%;
}

.gmnoprint img {
  max-width: none;
}

::-moz-selection {
  color: var(--color-selection);
  background: var(--color-highlight);
}
::selection {
  color: var(--color-selection);
  background: var(--color-highlight);
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT */
/*********************/

.wrapper-masthead {
  background-color: var(--color-bg);
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; */
  padding: 20px 20px 0 20px;
  /* border-bottom: 2px solid var( --color-highlight); */
}

.masthead {
  padding: 10px 0;
}

.masthead a {
  padding: 0px;
  background-color: transparent;
  text-decoration: none;
}

.site-info {
  float: left;
}

.site-name {
  line-height: 1;
  margin: 0;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 700;
}

nav {
  float: right;
  font-size: 18px;
}

nav a {
    margin-left: 20px;
    color: var(--color-accent-secondary);
    text-align: right;
    font-weight: 600;
    letter-spacing: 1px;

}

nav a:hover {
      color: #118339;
      transition-duration: 0.5s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_container {
  border-bottom: 2px solid var(--color-highlight);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background: var(--color-bg);
  font-size: 120%;
}

.container {
  color: var(--color-text);
}

body > .container {
  padding: 0 20px;
}

h1,
h2,
h3 {
  color: var(--color-secondary);
}

/*********************/
/* MY / CLASSES */
/*********************/

.info {
  border-bottom: 2px solid var(--color-highlight);
}

.links {
  color: var(--color-accent);
}

.suggestions {
  color: red;
}

.card {
  /* margin: 0 auto; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -12px;
  background: var(--color-secondary);
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 80%;
  max-width: 420px;
  display: block;
  margin-bottom: 20px;
}
.card a {
  font-family: "OpenSansCondensed-Light";
  text-decoration: none;
  display: inline;
  font-weight: bold;
  color: var(--color-accent);
  background-color: transparent;
}
.output {
  color: var(--color-text-secondary);
}

.search {
  display: flex;
  align-items: center;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.5em;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.flex {
  display: flex;
  align-items: center;
}

.site-header {
  float: left;
}

.site-header a {
  text-decoration: none;
}

.toggle {
  float: right;
  margin-top: 25px;
}

.listItem {
  float: left;
}

.hero {
  height: 100vh;
  padding: 100px 0 200px 0;
  font-size: 120%;
}

.hero h1 {
  font-size: 150%;
}

.hero-img {
  float: right;
  max-width: 200px;
}

/*********************/
/* BUTTON */
/*********************/

.button {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin-top: 1em;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-accent);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

input.search-bar {
  border-radius: 24px;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  background: #7c7c7c2b;
  color: var(--color-bg);
  font-family: inherit;
  font-size: 120%;
  width: calc(100% - 80px);
}

button {
  color: var(--color-text);
  border: 0;
  border-radius: 5px;
}

.container-new {
  position: relative;
  top: -10px;
  margin-left: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-new button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  top: -5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #ccc; */
  background-color: var(--color-accent-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("images/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--color-accent-secondary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-accent-secondary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("images/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 640px) {
  .card {
    width: auto;
  }
  body {
    font-size: 100%;
  }
  nav {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
  .masthead {
    text-align: center;
  }
  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .wrapper-masthead {
    padding: 0;
    margin-top: 20px;
  }
  nav a {
    margin-left: 11px;
    color: var(--color-text);
    text-align: right;
    font-weight: normal;
    letter-spacing: normal;
  }
  .image-container + em {
    margin: 20px 0;
    font-size: 90%;
  }
}

@media screen and (max-width: 358px) {
  input.search-bar {
    font-size: 80%;
    width: calc(100% - 50px);
  }
  .container-new {
    top: 0;
    margin-left: 0;
  }
  .switch {
       margin: 10px;
  }
}