---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $helvetica;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  line-height: 1.625em;
}

a {
  color: $darkerGray;
  text-decoration: none;
  cursor: pointer;
  padding: 0 3px;
  background-color: $lightGray;
  border-radius: 3px;
  &:hover,
  &:active {
    text-decoration: underline;
    transition-duration: 0.5s;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: #333;
  }
}

p a {
  white-space: nowrap;
}

// Royal Links
p > a{
  color: $royal;
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.wrapper-masthead {
  border-top: 3px solid $purple;
  margin-bottom: 35px;
  border-bottom: 2px solid $lightGray;
}

.masthead {
  padding: 10px 0;

  @include mobile {
    text-align: center;
  }
}

.masthead a {
  padding: 0px;
  background-color: transparent;
  text-decoration: none;
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helvetica;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 700;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 13px; // @TODO: Vertically middle align
  font-family: $helvetica;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 600;
    letter-spacing: 1px;

    &:hover {
      color: #118339;
      transition-duration: 0.5s;
    }

    @include mobile {
      margin: 0 10px;
    }
  }
}

/*********************/
/* MY / CLASSES */
/*********************/

.container {
  margin: 0 auto;
  max-width: 650px;
  padding: 0 10px;
  width: 100%;
}

.img_div {
  -webkit-shape-outside: circle();
  shape-outside: circle();
  float: right;
  overflow: hidden;
  position: relative;
  margin: 10px 0px 10px 0px;
}

@media (max-width: 300px) {
  .img_div {
    display: none;
  }
}

.me_home {
  box-shadow: none !important;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.meta {
  color: $gray;
}

.hero {
  padding-bottom: 20px;
  border-bottom: 3px solid $lightGray;
}

.newsletter {
  border-bottom: 2px solid $lightGray;
  border-top: 2px solid $lightGray;
}

.newsletter_contents {
  margin: 20px;
}

.email {
  display: block;
}

.email_input {
  font-size: 100%;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  color: $darkGray;
  background: #fff;
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.4);
  transform: none;
  box-sizing: border-box;
  border: 0;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 0;
  text-decoration: none;
}

.button {
  font-size: 100%;
  display: inline-block;
  transform: none;
  box-sizing: border-box;
  border: 0;
  outline: none;
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.4);
  padding: 0.5em 1em;
  text-decoration: none;
  color: $white;
  cursor: pointer;
  background-color: $purple;
  border-radius: 3px;
  &:hover,
  &:active {
    text-decoration: underline;
    transition-duration: 0.5s;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: $white;
  }
  @include mobile {
    margin-top: 20px;
  }
}

.post {
  padding-bottom: 1em;
  border-bottom: 2px solid $lightGray;
  cursor: pointer;
}

.post a {
  padding: 0px;
  background-color: transparent;

  &:hover,
  &:active {
    color: $darkerGray;
    text-decoration: none;
  }
}

.post-list{
  margin-left: 10%;
}

.post-list a {
  white-space: normal;
}

.span_header {
  color: $darkerGray;
  font-size: 24px;
  font-weight: 400;
}

.entry img {
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0px auto;
}

img + em {
  display: block;
  text-align: center;
  margin: 20px;
  color: $gray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

blockquote {
  margin: 1.8em 0.8em;
  border-left: 5px solid #efefef;
  padding: 0.1em 1em;
  color: $gray;
  font-size: 22px;
  font-style: italic;
}

.post-description {
  color: $gray;
}

// .wrapper-footer {
//   margin-top: 50px;
//   border-top: 1px solid #ddd;
//   border-bottom: 1px solid #ddd;
//   background-color: $lightGray;
// }

footer {
  font-style: italic;
  margin: 30px auto 0px auto;
  max-width: 650px;
  padding: 0 10px;
  width: 100%;
}

.footer_container {
  border-top: 3px solid $lightGray;
  padding: 20px 10px;
}

.post-nav {
  padding-top: 10px;
}

.prev-post {
  text-align: left;
}

.next-post {
  text-align: right;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
// @import "svg-icons";
