<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}
    </title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}/images/icon.jpeg" />


    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/style.css"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.name }} - {{ site.description }}"
      href="{{ site.baseurl }}/feed.xml"
    />

    <script src="{{ site.baseurl }}/script.js" defer></script>

    {% seo %}
    {% include analytics.html %}
  </head>

  <body>
    <div class="wrapper-masthead">
        <header class="masthead clearfix">

          <div class="site-info">
            <p class="site-name">
              <a class="site-name" href="/">
                SentiMate
              </a>
              <span class="container">
                <label id="switch" class="switch">
                  <input type="checkbox" onchange="toggleTheme()" id="slider" />
                  <span class="slider round"></span>
                </label>
              </span>
            </p>
          </div>
          
          <nav>
            <a href="/model">The Model</a>
            <a href="https://stuclan.ml">StuClan</a>
            <a href="/about">About</a>
            <a target="_blank" href="https://achintyajha.in">Contact</a>
            <!-- <span class="container-new">
              <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider" />
                <span class="slider round"></span>
              </label>
          </span> -->
          </nav>
        </header>
    </div>

    <div class="container">
    {% block content %}

    {% endblock %}
  </div>
  
  </body>
</html>
