<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- SEO -->
    <meta name="description" content="SentiMate is a suite of tools that have been developed 
    to fight depression. We have developed a machine learning model, that can detect depression 
    among text, for example tweets." />
    <meta property="og:description" content="SentiMate is a suite of tools that have been developed 
    to fight depression. We have developed a machine learning model, that can detect depression 
    among text, for example tweets." />

    <meta name="author" content="Achintya Jha - SentiMate" />

    {% if title %}
        <title>{{ title }} - SentiMate</title>
        <meta property="og:title" content="{{ title }} - SentiMate" />
        <meta property="twitter:title" content="{{ title }} - SentiMate" />
    {% else %}
        <title>SentiMate</title>
    {% endif %}

    <meta property="og:locale" content="en-us" />

    <link rel="canonical" href="https://sentimate.herokuapp.com/" />
    <meta property="og:url" content="https://sentimate.herokuapp.com/" />
    <meta property="og:site_name" content="SentiMate" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="SentiMate" />

    <!-- End SEO -->

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NQS6ZFJ');</script>
<!-- End Google Tag Manager -->

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YRM7E6LCEG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());   

      gtag('config', 'G-YRM7E6LCEG');
    </script>
</head>
<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQS6ZFJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="wrapper-masthead">
        <header class="masthead clearfix">

          <div class="site-info">
            <p class="site-name">
              <a class="site-name" href="/">
                SentiMate
              </a>
              <span class="container">
                <label id="switch" class="switch">
                  <input type="checkbox" onchange="toggleTheme()" id="slider" />
                  <span class="slider round"></span>
                </label>
              </span>
            </p>
          </div>
          
          <nav>
            <a href="/model">The Model</a>
            <a href="https://stuclan.ml">StuClan</a>
            <a href="/about">About</a>
            <a target="_blank" href="https://achintyajha.in">Contact</a>
            <!-- <span class="container-new">
              <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider" />
                <span class="slider round"></span>
              </label>
          </span> -->
          </nav>
        </header>
    </div>


  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
</body>
</html>