<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}
    </title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}/images/logo.png" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/style.css"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.name }} - {{ site.description }}"
      href="{{ site.baseurl }}/feed.xml"
    />
    {% seo %}
    <!-- Link variable for model link -->
    {% include variables.html %}

    <script src="{{ site.baseurl }}/script.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QGYLGWRMC5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QGYLGWRMC5");
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-HV65P8NX9H"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-HV65P8NX9H");
    </script>
  </head>

  <body>
    <div class="noselect wrapper-masthead">
      <header class="masthead clearfix">
        <div class="topnav" id="myTopnav">
          <a class="site-name" href="/"
            >Senti<span style="color: #5e03fc">Mate</span></a
          >
          <div class="right-nav">
            <a href="{{ site.baseurl }}/model">The Model</a>
            <a href="https://talk.sentimate.org/">Talk</a>
            <a href="{{ site.baseurl }}/about">About Us</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/our-team">Our Team</a>
          </div>
          <button class="icon" onclick="toggle()">
            <i class="fa fa-bars"></i>
          </button>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </header>
    </div>

    <div class="container">{{ content }}</div>
    <footer>
      <p>
        &copy; 2023 | SentiMate is an open-source project.
        <a href="https://github.com/achntj/sentimate">View Source on GitHub</a>
        <br />
        Developed & Maintained by
        <a href="https://achintyajha.com">Achintya Jha (link to website).</a>
      </p>
    </footer>
  </body>
</html>
